# Python
*.pyc
__pycache__/
venv/
.env
gateway-7438d-firebase-adminsdk-djsvs-d572ce5736.json


# Node.js
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Misc
.DS_Store
Thumbs.db
/.idea/.gitignore
/.idea/IT-Project-2024.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml


#firebase
gateway-7438d-firebase-adminsdk-djsvs-d572ce5736 (1) 23.55.38.json