[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
couchbase = "*"
flask = "*"
pymilvus = "*"
scipy = "*"
scikit-learn = "*"
argon2-cffi = "*"
pyjwt = "*"
sentence-transformers = "*"
flask-cors = "*"
flask-socketio = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.12"
