[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
couchbase = "*"
flask = "*"
pinecone = {extras = ["grpc"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
